$--fb-color: #507bbf;
$--g-color: #db4a30;
$--twt-color: #65cdf2;
$--body-color: #808080;
$--border-color: #a8a8a8;
$--main-bg-login-btn-color: #ffffff;
$--low-links-text: #378ee2;
$--low-links-bg: #f2f9ff;
$--form-text: #444155;
$--form-btn: #65b1ff;
$--check-box: #7c7b83;
