/* @import "../fontawesome-free-6.0.0-web/scss/fontawesome.scss"; */
section {
  background-color: #ffffff;
  width: 80rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2.5rem;
}
section article {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px #a8a8a8 solid;
  width: 75rem;
  height: 40rem;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.social {
  border: 1px #a8a8a8 solid;
  display: flex;
  position: relative;
}

ul {
  list-style: none;
}
ul li a {
  color: #ffffff;
}

.fab {
  border-right: #a8a8a8 1px solid;
  padding: 0.5rem;
  margin: 0.5rem;
}

.fb, .g, .twt {
  color: #ffffff;
  padding: 0.5vw;
  margin: 3vw;
  width: 20vw;
  text-align: left;
  font-size: 2em;
  align-items: center;
  position: relative;
}

.fab {
  border-right: #a8a8a8 1px solid;
  padding: 0.5rem;
  margin: 0.5rem;
}

.fa-facebook-f {
  padding-right: 0.8rem;
}

.fb {
  background-color: #507bbf;
}

.g {
  background-color: #db4a30;
}

.twt {
  background-color: #65cdf2;
}

a:any-link {
  text-decoration: none;
}

#circle {
  margin: 5vw auto;
  position: relative;
  color: #a8a8a8;
  width: 6vw;
  height: 12vh;
  background-color: #ffffff;
  border: #a8a8a8 2px solid;
  border-radius: 50%;
}

#circle > span {
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  flex: 3vw;
}

.line1, .line3 {
  position: relative;
  z-index: 0;
  /* justify-content: center;
  align-items: center; */
}

.line1 {
  position: relative;
  top: -10vh;
  right: -3.2vw;
  border-left: #a8a8a8 2px solid;
}

.line2 {
  position: relative;
  top: 10vh;
  right: -3vw;
  border-right: #a8a8a8 2px solid;
}

.links {
  width: 15vw;
  justify-content: space-around;
  position: absolute;
  padding: 1vw;
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  cursor: pointer;
}

.login {
  color: #ffffff;
  background-color: #65b1ff;
  border: none;
  border-radius: 0.2rem;
  /* padding: 1rem; */
  font-size: 2rem;
  width: 10rem;
  height: 5rem;
}

form {
  color: #444155;
  border: #a8a8a8 1px solid;
  text-align: center;
  font-size: 2rem;
}

/*  .buttonslow{
    [type="checkbox"] {
        color: $--check-box;
        width: 2rem;
        margin: 1rem;
        font-size: 2vh;
        display: flex;
        flex-direction: row;
    }
}  */
input[type=email], input[type=password] {
  border: none;
  font-size: 2rem;
  padding: 0.5vw;
  width: 25vw;
  position: relative;
}

fieldset {
  border: none;
  width: 1rem;
}

.right {
  color: #444155;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25vw;
  height: 60vh;
}

.underline {
  border-bottom: 1px solid #444155;
}

.buttonslow {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-end; */
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.115rem;
}

p {
  width: 13vw;
}

.box {
  color: #7c7b83;
  width: 2rem;
}

.line2 {
  border-left: #a8a8a8 2px solid;
  z-index: 1;
}

.new {
  color: #378ee2;
  background-color: #f2f9ff;
  border-top: none;
}
.new div {
  display: inline-flex;
  justify-content: space-evenly;
}
.new div div a {
  font-size: 2rem;
  padding: 1rem;
}
.new div div:first-child {
  border-right: #a8a8a8 1px solid;
}
.new div div:last-child {
  border-left: #a8a8a8 1px solid;
}

.links {
  width: 15vw;
  justify-content: space-around;
  position: absolute;
  padding: 1vw;
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

:root {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: #808080;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/*# sourceMappingURL=main.css.map */
